PORT='sua porta'
MONGODB_URI='sua url mongo'
JWT_SECRET='sua chave secreta para access token'
JWT_REFRESH_SECRET='sua chave secreta para refresh token'
JWT_EXPIRES_IN='15m'
JWT_REFRESH_EXPIRES_IN='7d'
RAWG_API_KEY='sua chave da RAWG API'